streamlit==1.38.0
numpy==1.26.4
pandas==2.2.2
plotly==5.23.0
matplotlib==3.8.4
Pillow==10.3.0
trimesh==4.4.3
shapely==2.0.4
scipy==1.13.1         # optional but recommended (organic voids)
networkx==3.2.1       # trimesh depends on this
